[Desktop Entry]
Type=Application
Name=Media Player
Name[aa]=Rattema Digrise
Name[am]=ምስል እና ድምፅ ማጫወቻ
Name[ast]=Reproductor multimedia
Name[be]=Медыяплэер
Name[br]=Lenner liesvedia
Name[bs]=Izvođač medije
Name[ca]=Reproductor multimèdia
Name[ca@valencia]=Reproductor multimèdia
Name[cs]=Přehrávač médií
Name[cy]=Chwaraewr Cyfryngau
Name[de]=Medienwiedergabe
Name[el]=Αναπαραγωγή πολυμέσων
Name[en_AU]=Media Player
Name[en_GB]=Media Player
Name[es]=Reproductor multimedia
Name[eu]=Multimedia-erreproduzitzailea
Name[fa]=پخش کننده‌ی رسانه
Name[fi]=Mediasoitin
Name[fr]=Lecteur multimédia
Name[fr_CA]=Diffuseur de médias
Name[gd]=Cluicheadair mheadhanan
Name[gl]=Reprodutor multimedia
Name[he]=נגן מדיה
Name[hr]=Multimedijski reproduktor
Name[hu]=Médialejátszó
Name[ia]=Reproductor de medios
Name[id]=Pemutar Media
Name[is]=Margmiðlunarspilari
Name[it]=Riproduttore multimediale
Name[km]=កម្មវិធី​ចាក់​មេឌៀ
Name[ko]=미디어 플레이어
Name[lv]=Mediju atskaņotājs
Name[ms]=Pemain Media
Name[nb]=Medieasvpiller
Name[ne]=मिडिया प्लेयर
Name[nl]=Mediaspeler
Name[oc]=Lector multimèdia
Name[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
Name[pl]=Odtwarzacz multimediów
Name[pt]=Leitor de multimédia
Name[pt_BR]=Media Player
Name[ro]=Player media
Name[ru]=Медиаплеер
Name[sk]=Prehrávač multimédií
Name[sl]=Predvajalnik predstavnosti
Name[sr]=Медијски програм
Name[sv]=Mediaspelare
Name[tr]=Ortam Oynatıcı
Name[ug]=ۋاسىتە قويغۇ
Name[uk]=Програвач
Name[zh_CN]=媒体播放器
Name[zh_HK]=媒體播放器
Name[zh_TW]=媒體播放
GenericName=Media Player
GenericName[aa]=Rattema Digrise
GenericName[am]=ምስል እና ድምፅ ማጫወቻ
GenericName[ast]=Reproductor multimedia
GenericName[be]=Медыяплэер
GenericName[br]=Lenner liesvedia
GenericName[bs]=Izvođač medije
GenericName[ca]=Reproductor multimèdia
GenericName[ca@valencia]=Reproductor multimèdia
GenericName[cs]=Přehrávač médií
GenericName[cy]=Chwaraewr Cyfryngau
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγή πολυμέσων
GenericName[en_AU]=Media Player
GenericName[en_GB]=Media Player
GenericName[es]=Reproductor multimedia
GenericName[eu]=Multimedia-erreproduzitzailea
GenericName[fa]=پخش کننده‌ی رسانه
GenericName[fi]=Mediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[fr_CA]=Diffuseur de médias
GenericName[gd]=Cluicheadair mheadhanan
GenericName[gl]=Reprodutor multimedia
GenericName[he]=נגן מדיה
GenericName[hr]=Multimedijski reproduktor
GenericName[hu]=Médialejátszó
GenericName[ia]=Reproductor de medios
GenericName[id]=Pemutar Media
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Riproduttore multimediale
GenericName[km]=កម្មវិធី​ចាក់​មេឌៀ
GenericName[ko]=미디어 플레이어
GenericName[lv]=Mediju atskaņotājs
GenericName[ms]=Pemain Media
GenericName[nb]=Medieasvpiller
GenericName[ne]=मिडिया प्लेयर
GenericName[nl]=Mediaspeler
GenericName[oc]=Lector multimèdia
GenericName[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimediów
GenericName[pt]=Leitor de multimédia
GenericName[pt_BR]=Media Player
GenericName[ro]=Player media
GenericName[ru]=Медиаплеер
GenericName[sk]=Prehrávač multimédií
GenericName[sl]=Predvajalnik predstavnosti
GenericName[sr]=Медијски програм
GenericName[sv]=Mediaspelare
GenericName[tr]=Ortam Oynatıcı
GenericName[ug]=ۋاسىتە قويغۇ
GenericName[uk]=Програвач
GenericName[zh_CN]=媒体播放器
GenericName[zh_HK]=媒體播放器
GenericName[zh_TW]=媒體播放
Comment=Media Player
Comment[aa]=Rattema Digrise
Comment[am]=ምስል እና ድምፅ ማጫወቻ
Comment[ast]=Reproductor multimedia
Comment[be]=Медыяплэер
Comment[br]=Lenner liesvedia
Comment[bs]=Izvođač medije
Comment[ca]=Reproductor multimèdia
Comment[ca@valencia]=Reproductor multimèdia
Comment[cs]=Přehrávač médií
Comment[cy]=Chwaraewr Cyfryngau
Comment[de]=Medienwiedergabe
Comment[el]=Αναπαραγωγή πολυμέσων
Comment[en_AU]=Media Player
Comment[en_GB]=Media Player
Comment[es]=Reproductor multimedia
Comment[eu]=Multimedia-erreproduzitzailea
Comment[fa]=پخش کننده‌ی رسانه
Comment[fi]=Mediasoitin
Comment[fr]=Lecteur multimédia
Comment[fr_CA]=Diffuseur de médias
Comment[gd]=Cluicheadair mheadhanan
Comment[gl]=Reprodutor multimedia
Comment[he]=נגן מדיה
Comment[hr]=Multimedijski reproduktor
Comment[hu]=Médialejátszó
Comment[ia]=Reproductor de medios
Comment[id]=Pemutar Media
Comment[is]=Margmiðlunarspilari
Comment[it]=Riproduttore multimediale
Comment[km]=កម្មវិធី​ចាក់​មេឌៀ
Comment[ko]=미디어 플레이어
Comment[lv]=Mediju atskaņotājs
Comment[ms]=Pemain Media
Comment[nb]=Medieasvpiller
Comment[ne]=मिडिया प्लेयर
Comment[nl]=Mediaspeler
Comment[oc]=Lector multimèdia
Comment[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
Comment[pl]=Odtwarzacz multimediów
Comment[pt]=Leitor de multimédia
Comment[pt_BR]=Media Player
Comment[ro]=Player media
Comment[ru]=Медиаплеер
Comment[sk]=Prehrávač multimédií
Comment[sl]=Predvajalnik predstavnosti
Comment[sr]=Медијски програм
Comment[sv]=Mediaspelare
Comment[tr]=Ortam Oynatıcı
Comment[ug]=ۋاسىتە قويغۇ
Comment[uk]=Програвач
Comment[zh_CN]=媒体播放器
Comment[zh_HK]=媒體播放器
Comment[zh_TW]=媒體播放
Keywords=Movies;Movie Player;Video Player
Exec=mediaplayer-app %u
Terminal=false
Icon=${SNAP}/meta/gui/icon.png
X-Ubuntu-Touch=true
X-Ubuntu-SymbolicIcon=${SNAP}/usr/share/mediaplayer-app/mediaplayer-app-symbolic.svg
X-Ubuntu-Gettext-Domain=mediaplayer-app
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=sound-video
OnlyShowIn=Old
