Source: mediaplayer-app
Section: video
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               dh-translations,
               libgl1-mesa-dev[i386 amd64] | libgl-dev[i386 amd64],
               libgles2-mesa-dev[armhf],
               libgstreamer1.0-dev,
#               libgstreamer0.10-dev,
               python,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtmultimedia5-dev,
Standards-Version: 3.9.4
# If you don't have commit rights to lp:mediaplayer-app but need to upload
# packaging changes, just go ahead.  The developers will notice and sync
# up the code again.
Vcs-Bzr: lp:mediaplayer-app
Vcs-Browser: https://code.launchpad.net/mediaplayer-app

Package: mediaplayer-app
Architecture: i386 amd64 armhf
Depends: ${misc:Depends},
         ${shlibs:Depends},
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-hybris,
         gstreamer1.0-libav,
         gstreamer1.0-pulseaudio,
#         gstreamer0.10-plugins-base,
#         gstreamer0.10-plugins-good,
#         gstreamer0.10-ffmpeg,
         qtdeclarative5-qtmultimedia-plugin | libqt5declarative5-qtmultimedia-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         qtdeclarative5-ubuntu-ui-extras0.1,
         qtdeclarative5-window-plugin,
         qtdeclarative5-xmllistmodel-plugin,
Conflicts: media-player
Replaces: media-player
Provides: media-player
Recommends: libqt5multimedia5-plugins
Description: Ubuntu Media player
 A QML Media player service used by Ubuntu shell to play video sources.

Package: mediaplayer-app-autopilot
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libautopilot-qt,
         libqt5test5,
         libqt5widgets5,
         mediaplayer-app (>= ${source:Version}),
Conflicts: media-player-autopilot
Replaces: media-player-autopilot
Provides: media-player-autopilot
Description: Test package for mediaplayer-app
 Autopilot tests for the mediaplayer-app package

