Source: media-player
Section: video
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake,
    qtbase5-dev,
    qtdeclarative5-dev,
    qtmultimedia5-dev,
    libgl-dev[i386],
    libgl-dev[amd64],
    libgles2-mesa-dev[armel],
    libgles2-mesa-dev[armhf],
    libgstreamer0.10-dev,
    python2.7,
Standards-Version: 3.9.3
Vcs-Browser: https://code.launchpad.net/mediaplayer-app
Vcs-Bzr: lp:mediaplayer-app

Package: media-player
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
         mediaplayerplugin-aal[armel],
         mediaplayerplugin-aal[armhf],
         qtdeclarative5-qtmultimedia-plugin | libqt5declarative5-qtmultimedia-plugin,
         qtdeclarative5-window-plugin,
         qtdeclarative5-xmllistmodel-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         libhud-qt-qml,
         gstreamer0.10-ffmpeg,
         gstreamer0.10-plugins-base,
         gstreamer0.10-plugins-good,
Description: Ubuntu Media player
 A QML Media player service used by Ubuntu shell to play video sources.

Package: media-player-autopilot
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python-support (>= 0.90),
         media-player (= ${source:Version}),
         libautopilot-qt,
         libqt5test5,
         libqt5widgets5,
Description: Test package for the media-player app
 Autopilot tests for the media-player package

