Source: media-player
Section: video
Priority: extra
Maintainer: The Amanzi Team <phablet@lists.canonical.com>
Build-Depends:
    debhelper (>= 8.0.0),
    cmake,
    qtbase5-dev,
    qtdeclarative5-dev,
    qtmultimedia5-dev,
    libgl-dev[i386],
    libgl-dev[amd64],
    libgles2-mesa-dev[armel],
    libgles2-mesa-dev[armhf],
    gstreamer-1.0-dev,
Standards-Version: 3.9.3
Vcs-Browser: https://code.launchpad.net/~amanzi-team/besancon/media-player

Package: media-player
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
         mediaplayerplugin-aal,
         libqt5declarative5-qtmultimedia-plugin,
         qtdeclarative5-xmllistmodel-plugin,
         qt-components-ubuntu,
         qtubuntu-sensors,
         gstreamer1.0-libav,
         gstreamer1.0-plugins-base
Description: Media player
