[Desktop Entry]
Type=Application
Name=Media Player
GenericName=media-player
Comment=Media Player
Exec=mediaplayer-app %u
Terminal=false
Icon=media-player
NoDisplay=true
